* {
  font-family: "Roboto", sans-serif;
}
header {
  position: relative;
  height: 50px; /* фиксированное меню */
}
nav {
  position: fixed; /* фиксированное меню */
  width: 100%; /* фиксированное меню */
  height: 50px; /* фиксированное меню */
  background: #212121;
  z-index: 2; /* фиксированное меню */
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; /* убираем точки у списка */
}
.menu .menu_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none; /* убираем подчеркивание ссылки */
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 46px;
}
.menu :last-child {
  border-right: none; /* убираем бордер у последнего пункта меню */
}
.subheader {
  /* position: relative; второй способ наложения блока */
  position: absolute; /*  для того, чтобы эта плашка "наезжала" на следующий блок, устанавливаем ее позицию абсолютно, а ее родителю даем позиционирование релатив, в нашем случае родитель - header также надо указать ширину этого блока в 100%*/
  top: 50px; /* фиксированное меню */
  width: 100%;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* прозрачность фона устанавливаем через альфа-канал в rgba, если просто установить прозрачность через opacity: то прозрачность применится ко всем элементам блока, тексту кнопкам и т.д.; */
  mix-blend-mode: normal;
  height: 90px;
  /* z-index: 2; */
}
.subheader .subheader_logo {
  max-width: 100%; /* если в будущем на сайте поменяется логотип, то чтобы он вместился и не вылезал за пределы нашего контейнера, ограниченного четырьмя колонками */
  display: block;
  margin-top: 20px;
}
.subheader .subheader_official {
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  color: #ffffff;
}
.subheader .subheader_call {
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ffffff;
}
.subheader .subheader_phone {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.subheader .subheader_btn {
  margin-top: 20px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo {
  padding: 200px 0 135px 0;
  min-height: 850px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
  /* transform: translateY(-90px); /* второй способ наложения блока */
  /* z-index: 1; второй способ наложения блока  */
}
.promo .promo_header {
  margin-bottom: 0; /* убираем margin-bottom, который подтянулся от bootstrap-reboot */
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px; /* убираем, подтянутые из стилей лайн-хайт */
  text-align: center;
}
.promo .promo_subheader {
  margin-top: 20px;
  margin-bottom: 0; /* убираем margin-bottom, который подтянулся от bootstrap-reboot */
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px; /* убираем, подтянутые из стилей лайн-хайт */
  text-align: center;
}
.promo .promo_descr {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.promo .promo_btn {
  display: block;
  margin: 120px auto 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: 63px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.blok_title {
  text-align: center;
  margin-top: 50px;
}
.title {
  display: inline-flex;
  padding: 0 20px 0 20px;
  justify-content: center;
  background-color: #212121;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.subtitle {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
}
.adv .adv_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.adv .adv_item .adv_item_round {
  margin: auto 30px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.adv .adv_item .adv_text {
  width: 370px;
  height: 150px;
}
.adv .adv_item .adv_text .adv_descr {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}
.adv .adv_item .adv_text .adv_subdescr {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}
.mobile {
  background: url(../img/mobile_bg.jpg) center center/cover no-repeat;
}

.mobile .blok_title {
  padding-top: 50px;
}

.mobile .title_descr {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #222222;
}
